apiVersion: apps/v1
kind: Deployment
metadata:
  name: my-java-app-deployment
spec:
  replicas: 3
  selector: 
    matchLabels:
      app: myjavaapp
  template:
    metadata:
      labels:
        app: myjavaapp
    spec:
      containers:
        - name: myjavaapp
          image: 365458640688.dkr.ecr.ap-south-1.amazonaws.com/jenkins_shared_lib_java_app:latest
          ports:
            - containerPort: 8080

---
apiVersion: v1
kind: Service
metadata:
  name: myjavaapp-service
spec:
  selector:
    app: myjavaapp
  ports:
    - name: http
      port: 80
      targetPort: 8080
  type: LoadBalancer
